aiofiles
email-validator
fastapi
fastapi[all]
google-auth
google-generativeai
httpx
itsdangerous
jinja2
langchain
langchain-google-genai
langchain-openai
numpy
openai
passlib[bcrypt]
pydantic
python-dotenv
python-jose
python-multipart
requests
tiktoken
torch
typing-extensions
uvicorn
watchgod
whisper
